{% extends "alumnos/inicio.html" %}

{% block titulo %} Profesores - Colegio Django {%endblock%}

{% block CardSection %} {% endblock %}

{% block content %}
<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold mb-0">Listado de Profesores</h2>
        <form method="GET" class="d-flex" role="search">
            <input
                type="text"
                name="nombre"
                class="form-control"
                placeholder="Buscar por nombre"
                value="{{ request.GET.nombre}}">
        </form>
        
    </div>

    {% if profesores_list %}
        <div class="table-container shadow">
            <table class="table table-striped table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>N° Legajo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prof in profesores_list %}
                    <tr>
                        <td>{{ prof.nro_legajo }}</td>
                        <td>{{ prof.nombre }}</td>
                        <td>{{ prof.apellido }}</td>
                        <td>{{ prof.email }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{% url 'profesor_detail' prof.nro_legajo %}"
                                class="btn btn-sm btn-info text-white">
                                    Ver
                                </a>
                            </div>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info text-center shadow" role="alert"
            style="background-color: #cfe2ff;">
            <strong>No hay profesores cargados en el colegio</strong>
        </div>
    {% endif %}

</div>
{% endblock %}